#divtitulo{
    background-color: burlywood;
    font-family: 'Fascinate Inline', cursive;
    text-align: center;
    border: 7px solid chocolate;
    border-radius: 25px;
}

h3{
    font-family: 'Arbutus', cursive;
}

p,b{
    font-family: 'Caesar Dressing', cursive;
}

body{
    background-image:linear-gradient(to right,#F1F2B5,#135058);
}